<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" 
    integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div th:if="${user!=null}">
    <div th:if="${user.status}">
        <div th:replace="authenticatedHeader :: header"></div>      
    </div>
    </div>
    <div th:unless="${user!=null}">
        <div th:replace="defaultHeader :: header"></div>
    </div>
    <!-- <nav>
        <a th:href="@{/home}">Home</a>
        <a th:href="@{/ourStory}">Our Story</a>
        <a th:href="@{/allProducts}">Products</a>
        <a th:href="@{/signIn}">Sign in</a>
        <a th:href="@{/cart}">Cart</a>
    </nav> -->
    <div style="position: relative;">
        <img class="img-fluid w-100" src="/img/VTTP-Banner.png" alt="VTTP-banner2" usemap="#image-map">
        <a th:href="@{/ourStory}"><div style="position: absolute; left: 7%; top: 85%; width: 11%; height: 5%; background-color: rgba(100, 100, 100, 0);"></div></a>


        <!-- <map name="image-map">
            <area th:href="@{/ourStory}" coords="100,690,260,740" shape="rect">
        </map> -->
    </div>
    
    

</body>
</html>