<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" 
    integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <h2>Please fill in your details below:</h2>

    <form method="POST" th:action="@{/UserSignUpInfo}">
        <table>
            <tr class="form-group">
                <td>Profile Name: </td>
                <td> <input class="form-control" type="text" name="name" size="30" required> </td>
            </tr>
            
            

            <tr th:if="${user!=null}" class="form-group">
                <td>Email: </td>
                <td th:text="${user.email}"></td>
                <input class="form-control" type="hidden" name="email" th:value="${user.email}">
            </tr>

            

            <tr th:unless="${user!=null}" class="form-group">
                <td>Email: </td>
                <td> <input class="form-control" type="text" name="email" size="50" required> </td>
            </tr>

            <tr class="form-group">
                <td>Username: </td>
                <td> <input class="form-control" type="text" name="username" size="30" required> </td>
            </tr>
            <tr class="form-group">
                <td>Password: </td>
                <td> <input class="form-control" type="password" name="password" size="30" required> </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button class="btn btn-primary" type="submit">Sign Up</button>
                </td>
            </tr>
        </table>
    </form>

    <br>
    <a th:href="@{/home}">Click here to home</a>
</body>
</html>